@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #ff971d;
  --orange-dark: #ff8800;
  --white: #ffffff;
  --light-gray: #f7f7f7;
  --gray: #ececec;
  --medium-gray: #dddddd;
  --dark-gray: #212125;
}

html {
  font-family: 'Rubik', sans-serif;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.75rem 1rem var(--gray);
  user-select: none;
}

.calculator__display {
  background-color: var(--dark-gray);
  color: var(--white);
  font-size: 2.75rem;
  font-weight: 300;
  width: 16rem;
  padding: 0.75rem 1rem;
  text-align: right;
}

.calculator__keys {
  display: grid;
  background-color: var(--white);
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    '. . . .'
    'seven eight nine equal'
    'four five six equal'
    'one two three equal'
    'zero decimal clear equal';
}

.calculator__keys button {
  font-size: 1.25rem;
  font-weight: 300;
  padding: 1rem;
  transition: background-color 250ms;
  border-radius: 0;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.zero {
  grid-area: zero;
}

.decimal {
  grid-area: decimal;
}

.clear {
  grid-area: clear;
}

.equal {
  background-color: var(--orange);
  grid-area: equal;
}

[data-type='operator'] {
  background-color: var(--light-gray);
}

.equal:active {
  background-color: var(--orange-dark);
}

[data-type='operator']:active,
[data-type='number']:active,
[data-type='clear']:active {
  background-color: var(--gray);
}

[data-state='selected'] {
  background-color: var(--medium-gray);
}
